<div class="container-fluid">
    <div class="container">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="../../../assets/image/logo-smart-es.png" id="icon" alt="User Icon" />
                        <div class="row">
                            <div class="col-sm">
                                Ingreso
                            </div>
                            <div class="col-sm">
                                Español
                            </div>

                        </div>

                    
                </div>

                <!-- Login Form -->
                <form>
                    <input [(ngModel)]='correo' type="text" id="login"  class="fadeIn second" name="login" placeholder="login">
                    <input [(ngModel)]='password' type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                    <button class="fadeIn fourth btn btn-primary" (click)="ingresarVistas()">Log In</button>
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <p>{{advertencia}}</p>
                    <a class="underlineHover" href="#">Forgot Password?</a>
                </div>

            </div>
        </div>
    </div>
</div>